* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
}

header {
	background: linear-gradient(0deg, #64dbf3, #7b78e3);
	padding: 0 20px;
	height: 10%;
	width: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	nav {
		height: 100%;
		ul {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 100%;

			li {
				list-style: none;
				a {
					text-decoration: none;
					color: #fff;
					font-size: 20px;
					font-weight: bold;
					padding: 10px;
					transition: 0.3s;
					&:hover {
						color: red;
					}
				}
			}
			#logout-li {
				margin-left: auto;
			}
		}
	}
}
main {
	height: 85%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, #64dbf3, #7b78e3);

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 500px;
		padding: 20px;

		background: linear-gradient(270deg, #64dbf3, #7b78e3);
		border: 3px solid #0080ff;
		border-radius: 10px;

		.form-group {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 20px;

			span {
				margin: 0 auto;
				color: red;
				font-size: 20px;
				visibility: hidden;
			}
		}

		.input-group {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			label {
				color: #fff;
				font-weight: 700;
				margin: 10px 0;
			}

			input {
				width: 100%;
				padding: 5px;
				border-radius: 5px;
				border: none;
				padding: 10px;
			}
		}

		.remember-forget {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-top: 10px;
			div {
				label {
					color: #fff;
				}
				a {
					text-decoration: none;
					color: #fff;
				}
				&:first-child {
					margin-left: 30px;
				}
				&:last-child {
					margin-right: 30px;
				}
			}
		}
	}

	#login-form {
		height: 370px;
	}

	#nopassword-form {
		height: 200px;
	}
}
footer {
	display: flex;
	justify-content: center;
	align-content: center;
	background: linear-gradient(180deg, #64dbf3, #7b78e3);
	height: 5%;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.css-button-3d--sky {
	min-width: 130px;
	height: 40px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	border: none;
	background: #3a86ff;
	box-shadow: 0 5px #4433ff;
}
.css-button-3d--sky:hover {
	box-shadow: 0 3px #4433ff;
	top: 1px;
}
.css-button-3d--sky:active {
	box-shadow: 0 0 #4433ff;
	top: 5px;
}

#hello-user {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
}
